@import "_variables.scss";
@import "~bulma/bulma.sass";
@import "~cookieconsent/build/cookieconsent.min.css";

html {
    background-color: $grey-lightest;
}

.banner {
    background-color: $banner-color;
    padding: 30px 10px;

    .title,
    .title a,
    .title a:focus,
    .title:hover {
        color: $grey-lightest;
    }

    .subtitle {
        color: $grey-light;
    }
}

.title,
.subtitle {
    font-family: $title-font-family;
}

main {
    padding: 20px 0;
}

.container {
    &.is-compact {
        max-width: 700px;
        margin: auto;
    }
}

.required-label label::after {
    content: "*";
    color: $red;
    margin-left: 5px;
}

h2 {
    margin-bottom: 30px;
}

.notification,
.markdown {
    text-align: justify;

    ul {
        list-style: disc;
    }

    ul,
    ol {
        margin: 0 1.5rem 1.5rem 2em;
    }

    p {
        margin-bottom: 1.5rem;
    }

    .title {
        margin-top: 1.5rem;
    }
}

.clearfix {
    clear: both;
}

.cc-revoke,
.cc-window {
    font-family: $family-primary;
    background: $white;
    border-top: solid 1px $grey-lighter;
}

.cc-link:active,
.cc-link:visited {
    color: $blue;
}

.cc-link:active,
.cc-link:hover {
    color: $grey-darker;
}
