@import "~bulma/bulma.sass";

main {
    padding: 100px 0 20px 0;
}

.required-label label::after {
    content: "*";
    color: $red;
    margin-left: 5px;
}

h2 {
    margin-bottom: 30px;
}

.notification,
.markdown {
    ul {
        list-style: disc;
    }

    ul,
    ol {
        padding-left: 10px;
        margin-left: 10px;
    }
}
